= render 'shared/header'
-# モーダル表示（編集する）
#edit-modal.modal.fade{"aria-hidden":"true", role:"dialog", tabindex:"-1"}

.profile
  .profile-top.row
    .profile-top-left.col-4
      .profile-top-left-icon{style:"background-image:url( #{@user.icon} )"}
      =link_to "編集する",edit_profile_path(current_user), remote:true

    .profile-top-right
      .profile-top-right-name
        = @user.name
      .profile-top-right-text
        = @user.text

  .profile-bottom
    .profile-bottom-bar.row.mx-0
      %li.col-4 あなたのBuild
      %li.col-4 あなたのRelease
      %li.col-4 NICEしたアイデア
    .profile-bottom-content
      %section.mybuild
        -@mybuilds.each do |mybuild|
          = render partial: 'builds/top-build', locals:{build: mybuild }
      %section.myrelease
        -@myreleases.each do |myrelease|
          = render partial: 'releases/top-release', locals:{release: myrelease }
      %section.mynice
        -# -@mylikes.each do |mylike|
        -#   -likebuild= Build.find_by(id:mylike.build_id)
        -#   = render partial: 'builds/top-build', locals:{build: likebuild }
        -@mycommentlikes.each do |mycommentlike|
          -likecomment= BuildComment.find_by(id:mycommentlike.build_comment_id)
          .build-box
            = link_to build_path(id:likecomment.build_id) do
              %span.build-box-title
                =likecomment.title
        -@myreleaselikes.each do |myreleaselike|
          -likerelease= Release.find_by(id:myreleaselike.release_id)
          = render partial: 'releases/top-release', locals:{release: likerelease }



  = render partial: 'shared/footer'