= render 'shared/search-header'

.search-content
  %h3
    %span.bold
      = params[:q][:name_cont]
    の検索結果
  %p.count
    = @search_users.count
    件ヒットしました
  .users-container
    .users-box
      -@search_users.each do |user|
        .user-box
          = link_to profile_path(user) do
            .user-box-body
              -if user.icon.present?
                .user-box-body-icon{style:"background-image:url( #{user.icon} )"}
              - else
                .user-box-body-nilicon
              %h4.user-box-body-name
                =user.name


= render partial: 'shared/footer'