= render 'shared/search-header'

.search-content
  %h3
    %span.bold
      = params[:q][:name_cont]
    の検索結果
  %p.count
    = @search_users.count
    件ヒットしました
  .users-container
    .users-box
      -@search_users.each do |user|
        .user-box
          = link_to profile_path(user) do
            .user-box-body
              %h4.user-box-body-name
                =user.name
            .user-box-photo
              -# = image_tag user.icon, class:"user-box-photo-pic"


= render partial: 'shared/build-btn'
= render partial: 'shared/release-btn'
= render partial: 'shared/footer'