.user_new
  .header.single-header
    =link_to "Craftsman", root_path

  .single-container-registration
    .single-container-registration__top
      %h2
      ログイン
    .single-container-registration__signup
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .signup-content
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "メールアドレス"
        .signup-content
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
          %br/
          = f.password_field :password, autocomplete: "パスワード"

        .actions
          = f.submit "ログイン", class:"signup-submit"

  = render partial: 'shared/footer'

