<div class="modal-dialog bg-primary" role="document">
  <div class="modal-content">
    <%= form_with(model: @build, local: true) do |form| %>
      <% if @build.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@build.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @build.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.label :name %>
      <%= form.text_field :name %>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>