= form_for @build do |f|
  - if @build.errors.any?
    #error_explanation
      %h2= "#{pluralize(@build.errors.count, "error")} prohibited this build from being saved:"
      %ul
        - @build.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
