.user_new
  .header.single-header
    =link_to "Craftsman", root_path

  .single-container-registration
    .single-container-registration__top
      %h2
      新規会員登録
    .single-container-registration__link
      = link_to new_user_registration_path, class: 'single-container-registration__link__e-mail' do
        = icon 'far', 'envelope', class: 'icon'
        メールアドレスで登録する
      = link_to new_user_registration_path, class: 'single-container-registration__link__facebook' do
        = icon 'fab', 'facebook-square', class: 'icon'
        Facebookで登録する
      = link_to new_user_registration_path, class: 'single-container-registration__link__google' do
        = icon 'fab', 'google', class: 'icon'
        Googleで登録する
  = render partial: 'shared/footer'