.top
  .top-head
    .top-head-header.row.mx-0
      %ul.top-head-header-left.row
        %li.top-head-header-left-list.mr-4
          =link_to "Craftsmanとは？", introduce_builds_path,class:"header-button"
        %li.top-head-header-left-list.mr-4#build-btn BUILD
        %li.top-head-header-left-list.mr-4#release-btn RELEASE
        -if user_signed_in?
          %li.top-head-header-left-list.mr-4
            =link_to "マイページ", mypage_profile_path(current_user),class:"header-button"
      %ul.top-head-header-right.row.mx-0.py-2
        -if user_signed_in?
          %li.top-head-header-right-list.mr-4
            =link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header-button-login"
        -else
          %li.top-head-header-right-list.mr-4
            =link_to "新規会員登録", signup_builds_path,class:"header-button-resi"
          %li.top-head-header-right-list.mr-4
            =link_to "ログイン", new_user_session_path,class:"header-button-login"
    .top-head-box
      .top-head-box-title.mb-5
        = icon 'fas', 'home'
        %span Craftsman
      %h1 集え、アイデア職人
    .top-head-form
      = search_form_for(@search,url:search_profiles_path,class:'header-top__search-form') do |f|
        .top-head-form-box
          = f.text_field :name_cont, {class: 'top-head-form-box-field', placeholder: 'craftsmanを探す',value:"", required:true}
          .header-top__send
            = f.button "検索", class: "top-head-form-box-field-button"

  .top-bottom
    -# Buildの一覧
    .pickup
      .pickup-top
        = icon 'fas', 'hammer'
        %span 新着Build
        = render partial: 'builds/top-builds', locals:{ builds:@builds }
    -# Buildのランキング
    .ranking
      .ranking-top
        = icon 'fas', 'crown'
        %span Buildランキング
        .items-container
          -@build_ranks.each do |build_rank|
            = render partial: 'builds/top-build', locals:{ build:build_rank }


  .top-bottom
    -# Releaseの一覧
    .pickup
      .pickup-top
        = icon 'fas', 'paper-plane'
        %span 新着Release
        = render partial: 'releases/top-releases', locals:{ releases:@releases }
    -# Releaseのランキング
    .ranking
      .ranking-top
        = icon 'fas', 'crown'
        %span Releaseランキング
        .items-container
          -@release_ranks.each do |release_rank|
            = render partial: 'releases/top-release', locals:{ release:release_rank }

-# buildの隠しモーダル
.build-modal-wrapper#build-modal
  .build-registration
    %h2.build-registration__head Buildを建ち上げて、アイデアを募集する
    = form_with model: @build, class:'build-registration__form', local: true, html: { multipart: true } do |f|
      .build-registration__form__group
        %span.build-registration__form__group__box__label タイトル
        -# %span.build-registration__form__group__box__necessary 必須

        .build-registration__form__group__box__select
          = f.text_field :title, placeholder: "募集テーマ", required:true

        %span.build-registration__form__group__box__label 詳細
        -# %span.build-registration__form__group__box__necessary 必須

        .build-registration__form__group__box__select
          = f.text_area :detail, placeholder: "詳細な募集内容", required:true

        -# 今は報酬制度は実施しない
        -# %span.build-registration__form__group__box__label 報酬
        -# -# %span.build-registration__form__group__box__necessary 必須
        -# .build-registration__form__group__box__select-reward
        -#   = f.text_field :reward, placeholder: "ポイント", required:true

        .build-registration__form__group__actions
          = f.submit "建ち上げる"
        %a.btn.btn-light#back-build-btn 戻る

-# releaseの隠しモーダル
.release-modal-wrapper#release-modal
  .build-registration
    %h2.build-registration__heads アイデアを放出する
    = form_with model: @release, class:'build-registration__form', local: true, html: { multipart: true } do |f|
      .build-registration__form__group
        %span.build-registration__form__group__box__label タイトル
        -# %span.build-registration__form__group__box__necessary 必須

        .build-registration__form__group__box__select
          = f.text_field :title, placeholder: "アイデアの題名", required:true

        %span.build-registration__form__group__box__label 詳細
        -# %span.build-registration__form__group__box__necessary 必須

        .build-registration__form__group__box__select
          = f.text_area :detail, placeholder: "詳細なアイデアの内容", required:true

        .build-registration__form__group__action
          = f.submit "放出する"
        %a.btn.btn-light#back-release-btn 戻る


= render partial: 'shared/footer'