= render 'shared/header'

.release-lists
  -# releaseの一覧
  .pickup
    .pickup-top
      = icon 'fas', 'paper-plane'
      %span 全てのRelease
      .release-list
        -@all_releases.each do |release|
          .release-box
            = link_to release_path(release) do
              %span.release-box-title
              -if release.user.icon.present?
                .release-box-title-icon{style:"background-image:url( #{release.user.icon} )"}
              - else
                .release-box-title-nilicon
              %h2
                =release.title
              %p
                = release.detail
              -# いいね表示
              %ul.like-releases{id:"like-releases-#{release.id}"}
                =render partial: 'release_likes/like', locals:{ release:release, like:@like }


.paginate.py-4.text-center
  = paginate @all_releases
  -# = page_entries_info @all_releases



= render partial: 'shared/build-btn'
= render partial: 'shared/release-btn'
= render partial: 'shared/footer'