= render 'shared/header'

.release-container
  .release-content
    %h3
      = @release.user.name
      %span さんのアイデア
    .release-box
      %span.release-box-title
      =link_to profile_path(@release.user) do
        -if @release.user.icon.present?
          .release-box-title-icon{style:"background-image:url( #{@release.user.icon} )"}
        - else
          .release-box-title-nilicon
      %h2
        = @release.title
      %p
        = @release.detail

      -# いいね表示
      %ul.like-releases{id:"like-releases-#{@release.id}"}
        =render partial: 'release_likes/like', locals:{ release:@release, like:@like }

  - if @release.user_id == current_user&.id
    .release-comment-form
      = link_to "編集する", edit_release_path(@release),class:"btn btn-warning text-white fas fa-pen"
      = link_to "削除する", release_path(@release),method: :delete, class:"btn btn-danger fas fa-eraser", data: { confirm: "このReleaseを削除します。よろしいですか？" }

  - @release.release_comments.each do |release_comment|
    .release-comment
      = release_comment.detail
      - if release_comment.user_id == current_user.id
        = link_to "",release_release_comment_path(id:release_comment.id, release_id:release_comment.release_id),method: :delete, class:"release-comment-delete fas fa-eraser", data: { confirm: "このコメントを削除します。よろしいですか？" }

    -# 案へのコメントフォーム
  .release-comment-form
    = form_with url:release_release_comments_path(@release), method: :post, class:'',local: true, html: { multipart: true } do |f|
      = f.text_field :detail, placeholder: "コメントをする",class:"release-comment-form__detail"
      = f.submit "投稿する", class:"release-comment-form__submit btn btn-info"


= render partial: 'shared/build-btn'
= render partial: 'shared/release-btn'
= render partial: 'shared/footer'
