-# いいね機能
-if user_signed_in?
  -# ログイン＋いいね済み
  -if current_user.release_already_liked?(release)
    %li
      = link_to "", release_release_like_path(like, release_id: release.id),method: :delete, id:"like-button", class:"btn fas fa-star",remote: true, data: { confirm: "nice!!を削除します。よろしいですか？" }
    %li
      %span
        = release.release_likes.count
      nice!!
    -# ログイン＋未いいね
  -else
    %li
      = link_to "", release_release_likes_path(release_id: release.id), id:"like-button",method: :post, class:"btn far fa-star",remote: true
    %li
      %span
        = release.release_likes.count
      nice!!
  -# ログインしてないとき
-else
  %li
    = icon 'fas', 'fa-star'
  %li
    %span
      = release.release_likes.count
    nice!!